In [1]:
import pandas as pd
from src.constants import Constants, params
from src.styling import *
from src.utils import *

In [2]:
df = pd.read_csv(params.get(Constants.URL_LINK_TO_DATA), delimiter = ",")
df.head()

,AGEPH,CODPOSS,duree,lnexpo,nbrtotc,nbrtotan,chargtot,agecar,sexp,fuelc,split,usec,fleetc,sportc,coverp,powerc
0,64,1000,1.000000,0.000000,0,0.000000,0.000000,2-5,Female,Petrol,Once,Private,No,No,MTPL+,66-110
1,28,1000,0.046575,-3.066684,1,21.470588,155.974606,6-10,Female,Petrol,Twice,Private,No,No,MTPL,66-110
2,58,1000,0.402740,-0.909465,0,0.000000,0.000000,>10,Female,Petrol,Thrice,Private,No,No,MTPL,<66
3,37,1030,0.169863,-1.772763,0,0.000000,0.000000,2-5,Female,Petrol,Once,Professional,No,No,MTPL+++,66-110
4,29,1030,1.000000,0.000000,0,0.000000,0.000000,6-10,Female,Petrol,Once,Private,No,No,MTPL+,<66

# 1. Data Exploration

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163657 entries, 0 to 163656
Data columns (total 16 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   AGEPH     163657 non-null  int64
 1   CODPOSS   163657 non-null  int64
 2   duree     163657 non-null  float64
 3   lnexpo    163657 non-null  float64
 4   nbrtotc   163657 non-null  int64
 5   nbrtotan  163657 non-null  float64
 6   chargtot  163657 non-null  float64
 7   agecar    163657 non-null  object
 8   sexp      163657 non-null  object
 9   fuelc     163657 non-null  object
 10  split     163657 non-null  object
 11  usec      163657 non-null  object
 12  fleetc    163657 non-null  object
 13  sportc    163657 non-null  object
 14  coverp    163657 non-null  object
 15  powerc    163657 non-null  object
dtypes: float64(4), int64(3), object(9)
memory usage: 20.0+ MB

In [4]:
summary = df.describe()
summary.style.applymap(highlight_col, subset=pd.IndexSlice[['mean', 'max'], [params.get(Constants.NB_CLAIMS)]])

In [5]:
pd.set_option('display.max_colwidth', 1000)

In [6]:
# check how many categories for categorical variables
info_categories = get_distribution_info_for_categorical_variables(df)
info_categories

,nb_unique_categories,distribution
agecar,4,"{'6-10': '41.03%', '2-5': '31.50%', '>10': '22.72%', '0-1': '4.75%'}"
sexp,2,"{'Male': '73.59%', 'Female': '26.41%'}"
fuelc,2,"{'Petrol': '69.18%', 'Gasoil': '30.82%'}"
split,4,"{'Once': '49.79%', 'Twice': '28.08%', 'Monthly': '14.42%', 'Thrice': '7.71%'}"
usec,2,"{'Private': '95.11%', 'Professional': '4.89%'}"
fleetc,2,"{'No': '96.80%', 'Yes': '3.20%'}"
sportc,2,"{'No': '99.08%', 'Yes': '0.92%'}"
coverp,3,"{'MTPL': '58.30%', 'MTPL+': '28.15%', 'MTPL+++': '13.55%'}"
powerc,3,"{'<66': '73.21%', '66-110': '25.78%', '>110': '1.01%'}"

# 2. Feature Engineering

# 3. Modelling